{% extends 'etergrams/base.html' %}

{% block content %}

<p>Tag: {{ tag }}</p>

<p>Entries:</p>

<p>
    <a href="{% url 'etergrams:new_entry' tag.id %}">add new entry</a>
</p>

<ul>
{% for entry in entries %}
    <li>
        <p>{{ entry.date_added|date:'M d, Y H:i' }}</p>
        <p>{{ entry.text|linebreaks }}</p>
        <p><img src={{ entry.photo.url }}></p>
    </li>

{% empty %}
        <li>
            There are no entries for this tag yet.
        </li>

{% endfor %}
</ul>

{% endblock content %}
