{% extends 'etergrams/base.html' %}

{% block content %}

<p>Tag: {{ tag }}</p>

<p>Entries:</p>


<ul>
{% for entry in entries %}
    <li>
        <p>{{ entry.date_added|date:'M d, Y H:i' }}; <a href="{% url 'etergrams:edit_entry' entry.id %}">Edit entry</a></p>
        <p>{{ entry.text|linebreaks }}</p>
        <p><img src={{ entry.photo.url }}></p>
        <p>

        </p>
    </li>

{% empty %}
        <li>
            There are no entries for this tag yet.
        </li>

{% endfor %}
</ul>

{% endblock content %}
