{% extends "etergrams/base.html" %}


{% block content %}
<p>Owner: {{ user1 }}</p>


<p>Entries: <p>
<ul>
{% for entry in entries %}
    <li>
        <p>{{ entry.date_added|date:'M d, Y H:i' }}; <a href="{% url 'etergrams:edit_entry' entry.id %}">Edit entry</a></p>
        <p>{{ entry.text|linebreaks }}</p>
        <p>Tags:
        {% for each in entry.tag.all %}
            <a href="{% url 'etergrams:tag' each.id %}">{{ each }}</a>
        {% endfor %}
        </p>
        <p><a href={{ entry.photo.url }}><img src="{{ entry.photo.url }}" height="20%"></a></p>
    </br>
    </li>

{% empty %}
        <li>
            This user has not posted anything yet.
        </li>
{% endfor %}
</ul>

{% endblock content %}
